@using DataAccess.Enums
@using DataAccess.Model
<li class="draggable" draggable="true" title="@Ticket.taskDescription" @ondragstart="@(() => HandleDragStart(Ticket))">
    <p class="description">@Ticket.taskTitle</p><br />
    <p class="description">@Ticket.taskDescription</p>
    @if(Ticket.taskStatus == TicketStatus.New)
    {
        <button type="button" class="btn btn-success" id="@Ticket.ticketId" data-bs-toggle="modal" data-bs-target="#EditProject">
           <i class="material-icons">edit</i>
        </button>
        <button type="button" class="btn btn-danger" id="@Ticket.ticketId" data-bs-toggle="modal" data-bs-target="#DeleteProject">
           <i class="material-icons">delete</i>
        </button>
    }
</li>

@code {
    [CascadingParameter] TicketContainer Container { get; set; }
    [Parameter] public Ticket Ticket { get; set; }

    private void HandleDragStart(Ticket selectedTicket)
    {
        Container.Payload = selectedTicket;
    }

    private void onCreateDialogClose(bool accepted)
    {
        //EditDialogOpen = false;
        StateHasChanged();
    }

    private void onCreateDialogOpen()
    {
        //EditDialogOpen = true;
        StateHasChanged();
    }

    private void openCreateDialog()
    {
        onCreateDialogOpen();
    }
}
